*{
    font-family: 'Times New Roman', Times, serif;
}
/*Configuración general para todas las páginas*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
}

/*Pie de página*/
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}


/*Google Fonts*/
* { font-family: 'Roboto', sans-serif; }

body { margin: 0; background-color: #f4f4f4; }

/*Navegador con efecto Hover*/
nav ul li a:hover {
    color: #74a0c9;
    text-decoration: underline;
}

/*Diseño columnas para Contacto*/
.contenedor-contacto {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.columna { flex: 1; }

/*Reducción logotipo*/
header img {
    width: 100px;
    height: auto;
}

/*Responsividad para Móvil y Escritorio*/
@media (max-width: 600px) { /*movil*/
    .contenedor-contacto { flex-direction: column; }
    nav ul li { display: block; margin: 10px 0; }
}

@media (min-width: 1025px) { /*pc*/
    .galeria { display: flex; flex-wrap: wrap; }
}